p{
    color: black;
    display: block;
}
h1{
    color: purple;
    display: contents;
}

img{
    width:500px;
    height: 300px;	
    border-radius: 50px;
    padding: 50px;
    margin-top: 50px;
    margin-right: 80px;
    border: 20px green;
}
